/node_modules
/public/hot
/public/storage
/public/uploads

# Built by `npm run build` in resources/js
/public/_nuxt
/resources/views/spa.html

# Runtime data written by the app: transcoded media, HLS segments, logs
/public/live
/public/media
/public/thumbnails
/public/*.txt
/storage/*.txt

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
__unused
