$white: #fff;
$blue: #107fd0;
$green: #71ca0b;
$red: #d04310;

.theme-flat {
  --link-color: #fff;
  --main-bg: #060a0d;
  --sidebar-color: #05090d;
  --second-sidebar-color: #040609;
  --title-box-color: #17242e;
  --input-bg-color: var(--lighten-1);
  --input-texts-color: #fafafa;
  --input-titles-color: #eee;
  --input-descriptions-color: #ddd;
  --input-border-color: var(--lighten-2);
  --input-border-active-color: var(--lighten-3);
  --text-color: #fff;
  --border-color: var(--lighten-2);
  --box-header-color: transparent;
  --box-footer-color: #0b0b0b;
  --box-color: #0d1114;
  --menu-color: #0b0e0f;
  --box-element-color: #041b2b;
  --inactive-color: #aaa;
  --inactive-text-color: #777;
  --text-warning-color: #fffd92;
  --notifications-background-color: var(--darken-5);
  --list-container-color: #031929;
  --active-color: #107fd0;
  --white: #fff;
  --blue: #107fd0;
  --green: #71ca0b;
  --red: #d04310;
  --positive-color: #71ca0b;
  --negative-color: #d04310;
  --border-radius: .25em;
  --vertical-margin: .5em;

  --darken-1: rgba(4, 19, 31, .1);
  --darken-2: rgba(4, 19, 31, .2);
  --darken-3: rgba(4, 19, 31, .35);
  --darken-4: rgba(4, 19, 31, .6);
  --darken-5: rgba(4, 19, 31, .85);

  --lighten-1: rgba(255, 255, 255, .05);
  --lighten-2: rgba(255, 255, 255, .1);
  --lighten-3: rgba(255, 255, 255, .25);
  --lighten-4: rgba(255, 255, 255, .5);
  --lighten-5: rgba(255, 255, 255, .75);

}
