
<section class="category">
  <div class="container">
    <h2 class="category-title-h2">Категории</h2>
    <div id="owl-two" class="owl-carousel owl-theme">
      <div class="item-container">
        <div class="item item--podvesnyie-rakovinyi">
          <a href="katalog/rakovinyi/podvesnyie-rakovinyi/" class="item-slide item-slide--podvesnyie-rakovinyi">
            <div class="overlay">
              <div class="item-img" style="background-image:url('assets/images/categories-new/Подвесные раковины.jpg')" alt="" ></div>
              <p class="category-link">Подвесные раковины                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
              </p>
            </div>
          </a>
          <div class="item item--nastolnyie-rakovinyi">
            <div class="item-block-slide">
              <a href="katalog/rakovinyi/nastolnyie-rakovinyi/" class="item-slide item-slide--nastolnyie-rakovinyi">
                <div class="overlay">
                  <div class="item-img" style="background-image:url('assets/images/categories-new/Настольные раковины.jpg')" alt="" ></div>
                  <p class="category-link">Настольные раковины                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                     width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                  </p>
                </div>
              </a>
              <a href="katalog/rakovinyi/poluvstroennyie-rakovinyi/" class="item-slide item-slide--poluvstroennyie-rakovinyi">
                <div class="overlay">
                  <div class="item-img" style="background-image:url('assets/images/categories-new/Полувстроенные раковины.jpg')" alt="" ></div>
                  <p class="category-link">Полувстроенные раковины                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                         width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                  </p>
                </div>
              </a>
            </div>
            <div class="item item--rakovinyi-pod-stoleshniczu">
              <a href="katalog/rakovinyi/rakovinyi-pod-stoleshniczu/" class="item-slide item-slide--rakovinyi-pod-stoleshniczu">
                <div class="overlay">
                  <div class="item-img" style="background-image:url('assets/images/categories-new/Раковины под.jpg')" alt="" ></div>
                  <p class="category-link">Раковины под столешницу                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                         width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                  </p>
                </div>
              </a>
            </div>
            <div class="item-container">
              <div class="item item--vstroennyie-rakovinyi">
                <div class="item-block-slide">
                  <a href="katalog/rakovinyi/vstroennyie-rakovinyi/" class="item-slide item-slide--vstroennyie-rakovinyi">
                    <div class="overlay">
                      <div class="item-img" style="background-image:url('assets/images/categories-new/Встроенные раковины.jpg')" alt="" ></div>
                      <p class="category-link">Встроенные раковины                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                         width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                      </p>
                    </div>
                  </a>
                  <a href="katalog/rakovinyi/rakovinyi-na-mebel/" class="item-slide item-slide--rakovinyi-na-mebel">
                    <div class="overlay">
                      <div class="item-img" style="background-image:url('assets/images/categories-new/Раковины на мебель.jpg')" alt="" ></div>
                      <p class="category-link">Раковины на мебель                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                        width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="item item--napolnyie-rakovinyi">
                  <a href="katalog/rakovinyi/napolnyie-rakovinyi/" class="item-slide item-slide--napolnyie-rakovinyi">
                    <div class="overlay">
                      <div class="item-img" style="background-image:url('assets/images/categories-new/Напольные раковины.jpg')" alt="" ></div>
                      <p class="category-link">Напольные раковины                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                        width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                      </p>
                    </div>
                  </a>
                  <div class="item item--unitazyi-monoblok">
                    <a href="katalog/unitazyi/unitazyi-monoblok/" class="item-slide item-slide--unitazyi-monoblok">
                      <div class="overlay">
                        <div class="item-img" style="background-image:url('assets/images/categories-new/Унитазы Моноблок.jpg')" alt="" ></div>
                        <p class="category-link">Унитазы Моноблок                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                        width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                        </p>
                      </div>
                    </a>
                  </div>
                  <div class="item-container">
                    <div class="item item--napolnyie-unitazyi-i-napolnyie-bide">
                      <a href="katalog/unitazyi/napolnyie-unitazyi-i-napolnyie-bide/" class="item-slide item-slide--napolnyie-unitazyi-i-napolnyie-bide">
                        <div class="overlay">
                          <div class="item-img" style="background-image:url('assets/images/categories-new/Напольные унитазы.jpg')" alt="" ></div>
                          <p class="category-link">Напольные унитазы                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                           width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                          </p>
                        </div>
                      </a>
                      <div class="item item--napolnyie-bide">
                        <div class="item-block-slide">
                          <a href="katalog/bide/napolnyie-bide/" class="item-slide item-slide--napolnyie-bide">
                            <div class="overlay">
                              <div class="item-img" style="background-image:url('assets/images/categories-new/Напольные биде.jpg')" alt="" ></div>
                              <p class="category-link">Напольные биде                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                            width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                              </p>
                            </div>
                          </a>
                          <a href="katalog/unitazyi/podvesnyie-unitazyi-podvesnyie-bide/" class="item-slide item-slide--podvesnyie-unitazyi-podvesnyie-bide">
                            <div class="overlay">
                              <div class="item-img" style="background-image:url('assets/images/categories-new/Подвесные Унитазы.jpg')" alt="" ></div>
                              <p class="category-link">Подвесные унитазы                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                               width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="item item--podvesnyie-bide">
                          <a href="katalog/bide/podvesnyie-bide/" class="item-slide item-slide--podvesnyie-bide">
                            <div class="overlay">
                              <div class="item-img" style="background-image:url('assets/images/categories-new/Подвесные Биде.jpg')" alt="" ></div>
                              <p class="category-link">Подвесные биде                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                            width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="item-container">
                          <div class="item item--bezobodkovyie-unitazyi">
                            <div class="item-block-slide">
                              <a href="katalog/unitazyi/bezobodkovyie-unitazyi/" class="item-slide item-slide--bezobodkovyie-unitazyi">
                                <div class="overlay">
                                  <div class="item-img" style="background-image:url('assets/images/categories-new/Безободковые унитазы.jpg')" alt="" ></div>
                                  <p class="category-link">Безободковые унитазы                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                                      width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                                  </p>
                                </div>
                              </a>
                              <a href="katalog/dushevyie-poddonyi/" class="item-slide item-slide--dushevyie-poddonyi">
                                <div class="overlay">
                                  <div class="item-img" style="background-image:url('assets/images/categories-new/Душевые поддоны.jpg')" alt="" ></div>
                                  <p class="category-link">Душевые поддоны                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                                 width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                                  </p>
                                </div>
                              </a>
                            </div>
                            <div class="item item--aksessuaryi">
                              <a href="katalog/aksessuaryi/" class="item-slide item-slide--aksessuaryi">
                                <div class="overlay">
                                  <div class="item-img" style="background-image:url('assets/images/categories-new/Аксессуары1.jpg')" alt="" ></div>
                                  <p class="category-link">Аксессуары                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                            width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                                  </p>
                                </div>
                              </a>
                              <div class="item item--pissuaryi">
                                <a href="katalog/pissuaryi/" class="item-slide item-slide--pissuaryi">
                                  <div class="overlay">
                                    <div class="item-img" style="background-image:url('assets/images/categories-new/Писсуары.jpg')" alt="" ></div>
                                    <p class="category-link">Писсуары                  <svg class="category-link-img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                            width="408px" height="408px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
                      <g>
                        <g id="arrow-forward">
                          <polygon points="204,0 168.3,35.7 311.1,178.5 0,178.5 0,229.5 311.1,229.5 168.3,372.3 204,408 408,204"/>
                        </g>
                      </g>
                   </svg>
                                    </p>
                                  </div>
                                </a>
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
