.controls-page {
  display: flex;
  height: calc(100vh - 3.5em);
  overflow: hidden;

  &__menu {
    flex: 1;
    background: var(--title-box-color);
    padding: 2em;

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__item {
      text-decoration: none;
      padding: 1em 0;
      border-bottom: 2px solid rgba(255, 255, 255, .2);
      width: 100%;
      text-align: right;
      box-sizing: border-box;

      &.nuxt-link-active {
        border-bottom-color: var(--active-color);
      }
    }

  }
  &__heading {
    margin: 0;
    padding: .25em 0 1.25em;
    font-size: 1.75em;
    font-weight: bold;
  }
  &__description {
    margin: -1.75em 0 1.75em;
  }
  &__content {
    flex: 2;
    padding: 1.325em 2em;

    &__inner {
      max-width: 800px;
    }
  }
}
