.thumbs-list {
  display: flex;
  flex-wrap: wrap;
  padding: .5em;
  text-align: center;
  background: var(--box-color);
  &__pager-container {
    padding: .5em;
    background: var(--title-box-color);
  }
  &__outer {
    margin: 1em auto!important;
  }

  &__title {
    min-height: 1.75em;
    display: flex;
    align-items: center;
    background: var(--title-box-color);
    padding: .5em 1em;
    &__button {
      margin-left: .5em!important;
    }
  }
  &__empty {
    flex: 1;
    margin: .5em;
    opacity: .75;
    text-align: left;
  }
}

.thumb {
  width: calc(100% / 4 - .5em);
  margin: 0 .5em .5em 0;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  position: relative;
  &__picture {
    padding-top: 60%;
    background-color: #000;
    background-size: cover;
    background-position: center;
    transition: box-shadow .3s;
  }

  &__logo {
    background-color: rgba(0, 0, 0, .5);
    width: 2em;
    height: 2em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 .5em 0 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin: .5em 0 0;
  }

  &__texts {
    text-align: left;
    font-size: .875em;
  }

  &__main-title {
    font-weight: 500;
  }

  &:hover &__picture {
    box-shadow: 0 0 .5em var(--active-color);
  }
  &__badge {
    position: absolute;
    top: .5em;
    left: .5em;
    font-weight: bold;
    font-size: .875em;
    background: #be1313;
    padding: .25em;
    opacity: .75;
  }
}
